.container {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 61px;
    height: 280px;
}

.list__item {
    margin-bottom: 20px;
    font-size: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}